.track-wrapper {
  background-color: rgba(
    var(--ion-background-color-rgb),
    var(--platform-opacity)
  );
}
.track-player {
  border-top-width: 0.55px;
  border-top-style: solid;
  border-top-color: rgba(var(--ion-background-color-rgb), 0.2);
  min-height: calc(var(--ion-safe-area-bottom) + 58px);
  padding: 4px calc(16px + var(--ion-safe-area-left));
  color: #444;
  padding-bottom: var(--ion-safe-area-bottom);
  justify-content: space-between;
  display: grid;
  grid-template-columns: minmax(200px, 30%) minmax(auto, 400px) minmax(
      90px,
      30%
    );
  grid-gap: 10px;
  width: 100%;
}
.track-player .song-info {
  display: grid;
  grid-template-columns: 48px auto;
  overflow: hidden;
}
.track-player .song-info ion-label {
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.track-player .song-info ion-label * {
  overflow: hidden;
  white-space: nowrap;
}
.track-player ion-range {
  padding-top: 0;
  padding-bottom: 0;
}
.track-player .song-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 849px) {
  .track-player {
    grid-template-columns: minmax(200px, 30%) minmax(auto, 300px) minmax(
        90px,
        auto
      );
  }
}
@media (max-width: 645px) {
  .track-player {
    grid-template-columns: 50% 50%;
  }
  .track-player ion-range {
    display: none;
  }
}
.prev-button {
  display: none;
}
.mh-footer.active .track-player .song-info {
  display: unset;
}
.mh-footer.active .track-player .song-info ion-label > * {
  font-size: 2em;
  line-height: 1.2;
}
.mh-footer.active .track-player .song-info ion-thumbnail {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  margin: auto;
}
.mh-footer.active .prev-button {
  display: unset;
}
.mh-footer.active ion-button ion-icon {
  width: 2em;
  height: 2em;
}
.mh-footer.active {
  position: unset;
  display: block;
  height: 100%;
}
.mh-footer.active .track-player {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  overflow: hidden;
}
.mh-footer.active .track-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.mh-footer.active .song-info {
  flex: 0 1 350px;
}
.mh-footer.active .song-actions {
  flex: 0 1 2em;
}

.mh-footer.active ion-range {
  display: unset !important;
  width: 300px;
  flex: 0 1 100px;
}
.mh-footer {
  position: absolute;
  bottom: 0;
}
