.preview-header {
  display: block;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
}
.preview-header .artwork-header {
  display: flex;
  color: #ffffff;
  overflow: hidden;
  height: 300px;
  align-items: center;
  justify-content: flex-start;
  backdrop-filter: blur(12px);
}
.preview-header .header-wallpaper {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.3;
  filter: blur(4px);
}
.preview-header .album-info {
  display: flex;
  align-items: center;
  padding-left: var(--ion-safe-area-left);
}
.preview-header .header-artwork {
  border-radius: 4px;
  display: block;
  height: 200px !important;
  width: 200px !important;
  margin: 0 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.preview-header .album-detail {
  padding: 0 16px;
  line-height: 0.6;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.preview-header .album-detail h3 {
  font-weight: 800;
}
@media (max-width: 550px) {
  .preview-header .header-artwork {
    display: none;
  }
}
