:root {
  color-scheme: light dark;
  --ion-color-primary: #fe2851;
  --ion-color-primary-rgb: 254, 40, 81;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e02347;
  --ion-color-primary-tint: #fe3e62;

  --ion-color-secondary: #5ac8fa;
  --ion-color-secondary-rgb: 90, 200, 250;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #4fb0dc;
  --ion-color-secondary-tint: #6bcefb;

  --ion-color-tertiary: #5856d6;
  --ion-color-tertiary-rgb: 88, 86, 214;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4d4cbc;
  --ion-color-tertiary-tint: #6967da;

  --ion-color-success: #34c759;
  --ion-color-success-rgb: 52, 199, 89;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #2eaf4e;
  --ion-color-success-tint: #48cd6a;

  --ion-color-warning: #ffcc00;
  --ion-color-warning-rgb: 255, 204, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0b400;
  --ion-color-warning-tint: #ffd11a;

  --ion-color-danger: #ff3b30;
  --ion-color-danger-rgb: 255, 59, 48;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e0342a;
  --ion-color-danger-tint: #ff4f45;

  --ion-color-dark: #1c1c27;
  --ion-color-dark-rgb: 28, 28, 39;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #191922;
  --ion-color-dark-tint: #33333d;

  --ion-color-medium: #8e8e93;
  --ion-color-medium-rgb: 142, 142, 147;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #7d7d81;
  --ion-color-medium-tint: #99999e;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: #fff;
  --ion-background-color-rgb: 255, 255, 255;
}
a {
  text-decoration: none;
}
ion-content {
  --padding-bottom: calc(var(--ion-safe-area-bottom) + 58px);
}
.md {
  --ion-toolbar-height: 56px;
  --platform-opacity: 1;
}
.ios {
  --ion-toolbar-height: 44px;
  --platform-opacity: 0.8;
  ion-range {
    --knob-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-secondary: #64d2ff;
    --ion-color-secondary-rgb: 100, 210, 255;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #58b9e0;
    --ion-color-secondary-tint: #74d7ff;

    --ion-color-tertiary: #5e5ce6;
    --ion-color-tertiary-rgb: 94, 92, 230;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5351ca;
    --ion-color-tertiary-tint: #6e6ce9;

    --ion-color-success: #30d158;
    --ion-color-success-rgb: 48, 209, 88;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #2ab84d;
    --ion-color-success-tint: #45d669;

    --ion-color-warning: #ffd60a;
    --ion-color-warning-rgb: 255, 214, 10;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bc09;
    --ion-color-warning-tint: #ffda23;

    --ion-color-danger: #ff453a;
    --ion-color-danger-rgb: 255, 69, 58;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e03d33;
    --ion-color-danger-tint: #ff584e;

    --ion-color-dark: #1c1c27;
    --ion-color-dark-rgb: 28, 28, 39;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #191922;
    --ion-color-dark-tint: #33333d;

    --ion-color-medium: #8e8e93;
    --ion-color-medium-rgb: 142, 142, 147;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #7d7d81;
    --ion-color-medium-tint: #99999e;

    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    --ion-background-color: var(--ion-color-dark);
    --ion-background-color-rgb: var(--ion-color-dark-rgb);

    --ion-text-color: var(--ion-color-light);
    --ion-text-color-rgb: var(--ion-color-light-rgb);

    --ion-color-step-50: #272731;
    --ion-color-step-100: #32323c;
    --ion-color-step-150: #3c3d46;
    --ion-color-step-200: #474751;
    --ion-color-step-250: #52525b;
    --ion-color-step-300: #5d5d66;
    --ion-color-step-350: #686870;
    --ion-color-step-400: #72737b;
    --ion-color-step-450: #7d7e85;
    --ion-color-step-500: #888990;
    --ion-color-step-550: #93939a;
    --ion-color-step-600: #9e9ea4;
    --ion-color-step-650: #a8a9af;
    --ion-color-step-700: #b3b4b9;
    --ion-color-step-750: #bebfc4;
    --ion-color-step-800: #c9cace;
    --ion-color-step-850: #d4d4d9;
    --ion-color-step-900: #dedfe3;
    --ion-color-step-950: #e9eaee;
  }
}
